*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# make keystore private
keystore/

# assets, which are added dynamically at build time
assets/*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# OS specific files
# -macOS
.DS_Store

# inner repos
**/LDSPlite-ONNX
**/LDSPlite-RTNeural

# Temporary local projects
_projects/
